.App {
  text-align: center;
}
a.linkedin {
  color: black;
  margin: 0 10px 0 10px;
  transition: transform 300ms;
}

  a > svg:hover {
  transform: translateY(-2px);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
